.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.pickle

# Results / outputs
results/
outputs/

# HuggingFace cache (optional)
.cache/

*.flac